<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Login</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/adminLogin.css" />
  
</head>
<body>
  <div class="login-container">
    <h2 class="text-center">Admin Login</h2>
   
    <% if(message){ %>
  <div class="login-error"><%= message %></div>
   <% } %>
  
 <form id="adminLoginForm" method="post" action="/admin/login">
    <div class="form-group">
      <label for="adminEmail">Email address</label>
      <input type="email" class="form-control" id="adminEmail" name="email"  />
      <div id="emailError" class="error-message"></div>
    </div>
    <div class="form-group">
      <label for="adminPassword">Password</label>
      <input type="password" class="form-control" id="adminPassword" name="password"  />
      <div id="passwordError" class="error-message"></div>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const adminLoginForm = document.getElementById("adminLoginForm");
      const emailField = document.getElementById("adminEmail");
      const passwordField = document.getElementById("adminPassword");
      const emailError = document.getElementById("emailError");
      const passwordError = document.getElementById("passwordError");

      adminLoginForm.addEventListener("submit", function (event) {
        let isValid = true;
        const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
        if (!emailPattern.test(emailField.value)) {
          emailError.textContent = "Invalid email format";
          isValid = false;
        } else {
          emailError.textContent = "";
        }
        if (passwordField.value.length < 6) {
          passwordError.textContent =
            "Password should contain at least 6 characters";
          isValid = false;
        } else {
          passwordError.textContent = "";
        }

        if (!isValid) {
          event.preventDefault();
        }
      });
    });
  </script>
</body>
</html>
